<html>
<head>
    <title>RPN Calculator</title>
</head>
<body>
    <h1>( ͡° ͜ʖ ͡° ) Calculator</h1>
    <form action="/calculate/" method="post">
        <input type="text" name="expression" placeholder="Enter expression">
        <button type="submit">Calculate</button>
    </form>

    <h2>Calculations History</h2>
    <table border="1">
        <tr>
            <th>Expression</th>
            <th>Result</th>
        </tr>
        {% for calculation in calculations %}
        <tr>
            <td>{{ calculation.expression }}</td>
            <td>{{ calculation.result }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
